.col-md-3 {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
  justify-content: center;
  
}

.col-md-3>.image {
  overflow: hidden;
  text-align: center;
  justify-content: center;  
}

.col-md-3>.image>img {
  width: 200px;   
}